/* style.css */

body {
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    margin-bottom: 5px;
}

.contact-info {
    margin-bottom: 20px;
}

.highlights,
.education,
.relevant_courses,
.relevant_projects,
.experience {
    margin-bottom: 30px;
}

.project,
.job {
    margin-bottom: 10px;
}